<section class="bg-primary" id="about">
    <div class="container">
    
    <div class="about-me wow animated fadeInUp" data-wow-delay=".1s">
      <img src="img/ssamra.jpg" class="me-pic">
      <h2 class="section-heading">About Me</h2>
      <p class="text-faded"> I am a web developer based out of Toronto, Ontario who loves full stack development, with a growing appreciation for front end design. When I'm not coding, I'm usually reading, running or watching random documentaries on Netflix.</p>
    </div>

    </div>
</section>
