<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Things I Can Do</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 text-center">
                <div class="service-box">
                    <i class="devicon-html5-plain-wordmark wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 text-center">
                <div class="service-box">
                    <i class="devicon-css3-plain-wordmark wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 text-center">
                <div class="service-box">
                    <i class="devicon-jquery-plain-wordmark wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 text-center">
                <div class="service-box">
                    <i class="devicon-bootstrap-plain-wordmark wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 text-center">
                <div class="service-box">
                    <i class="devicon-sass-plain-wordmark wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 text-center">
                <div class="service-box">
                    <i class="devicon-javascript-plain wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 text-center">
                <div class="service-box">
                    <i class="devicon-ruby-plain-wordmark wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 text-center">
                <div class="service-box">
                    <i class="devicon-rails-plain-wordmark wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 text-center">
                <div class="service-box">
                    <i class="devicon-git-plain-wordmark wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
            </div>

        </div>
    </div>
</section>
